* {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url("kota.jpg") no-repeat center center/cover;
}

.form {
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 450px;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(60, 58, 58, 0.7);
    box-shadow: inset -7px -7px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.form h1 {
    align-items: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin: 50px;
}

.form p {
    font-size: 15px;
    margin: 20px;
}

.box {
    padding: 2%;
    margin: 10px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: inset -4 -4 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
    align-items: center;
}

table {
    background-color: rgb(160, 185, 179);
    width: 100%;
    border-collapse: collapse;
    border-color: black;
}

table th {
    background-color: rgb(255, 255, 255);
}

th, td {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    outline-offset: 2px;
    outline: 2px solid #ffffff;
    margin: 6px;
}

.btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px;
}

#remember .checkbox {
    display: flex;
    justify-content: center;
    left: 20%;
    position: absolute;
}